body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
}
.name-highlight{
    color: green;
}
.half-width{
    width: 30%;
    float: left;
    padding: 5%;
    margin: 2%;
}
.half-width img{
    width: 100%;
}